.button {
    background-color: rgba(238, 5, 5, 0.63);
    height: auto;
    color: white;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    font-size: unset;
    border-radius: 20px;
  }
  
  .button:hover{
    background-color: rgb(29, 175, 29);
  }