.advertisement, .like {
    background-color: rgba(238, 5, 5, 0.63);
    height: auto;
    color: white;
    margin: 50px 80px 50px 150px;
    padding: 20px;
    cursor: pointer;
    font-size: unset;
  }
  
  .advertisement:hover, .like:hover {
    background-color: rgb(29, 175, 29);
  }