html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.body {
  font-family: 'Lato', sans-serif;

}
.container{
  max-width: 950px;
  padding: 0 20px;
  margin: 0 auto;
}

.image {
  width: 100%;
  border-radius: 20px;
  margin: 50px 0;
}

.footer {
  text-align: center;
}

.list {
  list-style: "\1F4AA";
}